## Ignore ghost and R unnecesary files
.DS_Store
*.nb.html
*.Rhistory
*.Rdata

# Ignore satellite images
DesLeo_GE_121217_39_2*

# Ignore api key
api_key.api

# Ignore archive directory
/archive

# Ignore images taken with kobo, this is only saved in our local servers
/data/kobo_images/images_dic20en21/
